body {
  background-color: black;
  color:#ff0000;
  
  text-align: center;
background: url(../images/background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.board-container{
  margin-left: 500px;
}
button{
  background-color: #bbf1fa;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: #51c2d5
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.modal {
  background-image: url(../images/modalbackground.png);
  margin-left: 300px;
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 60%;
  height: 60%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  
}
.score{
  font-family: fantasy;
  font-size: 2rem;
}


.modal-content {
  background-color: #f0c38e;
  text-align: center;
  color: #48426d;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 100px;
}
.victory-modal {
  background-image: url(../images/winimg.png);
  margin-left: 300px;
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 60%; 
  height: 60%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  
}
.victory-modal-content {
  border-radius: 100px;
  color: #eb596e;
  text-align: center;
  background-color: #ffe227;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}



/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */